<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
 
    <% category.forEach(function(category,index){ %>
        <h2><%= category.name %></h2>
      <% }); %>
    
</body>
</html>